<div class="condominios" color="medium">
    <ion-row justify-content-center align-items-center style="height: 100%" color="medium">

        <ion-col>
            <!-- <ion-item color="primary" lines="none">
                <ion-avatar slot="start">
                    <img src="/assets/avatars/pedro.rafael.lopez.png" />
                </ion-avatar>
                <ion-label color="dark">
                    <h2>{{position.builder}} - Apto: {{position.apartment}}</h2>

                    <h3>{{position.user.name}}</h3>
                </ion-label>
            </ion-item> -->
            <ion-grid fixed class="grid-main">

                <ion-row>
                    <ion-col size="12">

                        <ion-label class="Label_title">
                            <span>
                                    DEUDA ACTUAL
   
                            </span>

                        </ion-label>

                        <ion-label class="Label_balance">
                            <span>
                                    {{position.balance}}
                            </span>
                        </ion-label>

                        <!-- <ion-card fixed class="card" color="primary" no-border> -->
                        <!-- <img src="../../assets/119913783.jpg" alt="ion"> -->
                        <!-- <img src="../../assets/{{position.image}}" alt="ion"> -->

                        <!-- <ion-card-content class="card-content" color="primary" no-border>

                                <ion-list class="card-list-1" color="primary" no-border>
                                    <ion-item class="card-list-1" color="primary" no-border lines="none">
                                        <ion-label class="Label_title">
                                            <h1>
                                                DEUDA ACTUAL
                                            </h1>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item color="primary" no-border lines="none">
                                        <ion-label class="Label_balance">
                                            <h1>{{position.saldo}}</h1>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item class="card-list-1">
                                        <ion-button slot="start" class="card-button-start">
                                            <ion-icon class="Label_icon" slot="icon-only" name="cash-outline"></ion-icon>
                                        </ion-button>
                                        <ion-button slot="end" class="card-button-end">
                                            <ion-icon class="Label_icon" slot="icon-only" name="reorder-four-outline"></ion-icon>
                                        </ion-button>

                                    </ion-item>
                                </ion-list>
                            </ion-card-content>
                        </ion-card> -->
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="12" align-self-end>
                        <ion-item class="card-2" color="secondary" no-border lines="none">
                            <ion-label class="Label_icon" color="secondary">
                                <ion-icon name="calendar-number-outline" color="danger"></ion-icon>
                            </ion-label>
                            <ion-label class="Label_title" color="secondary">
                                <h2>
                                    ULTIMO <br>MES:
                                </h2>
                            </ion-label>
                            <ion-label class="Label_balance">
                                <h1>{{position.amountLastMonth}}</h1>
                            </ion-label>
                        </ion-item>
                        <!-- <ion-card class="card-2" color="secondary" no-border>
                            <ion-card-content class="card-content-2" color="secondary" no-border>
                                <ion-list class="card-list-2" color="secondary" no-border>
                                    <ion-item class="card-2" color="secondary" no-border lines="none">
                                        <ion-label class="Label_icon" color="secondary">
                                            <ion-icon name="calendar-number-outline" color="danger"></ion-icon>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item class="card-2" color="secondary" no-border lines="none">
                                        <ion-label class="Label_title" color="secondary">
                                            <h2>
                                                ULTIMO<br> MES

                                            </h2>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item color="secondary" no-border lines="none">
                                        <ion-label class="Label_balance">
                                            <h1>{{position.amountLastMonth}}</h1>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item color="secondary" no-border lines="none">
                                        <ion-label class="Label_detail" color="danger">
                                            <h1>
                                                <small>
                                                {{ position.dateLastMonth | date : 'dd MM yyyy' }}
                                                </small>
                                            </h1>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>
                            </ion-card-content>
                        </ion-card> -->
                    </ion-col>
                    <ion-col size="12">
                        <ion-item class="card-3" color="tertiary" no-border lines="none">
                            <ion-label class="Label_icon" color="tertiary">
                                <ion-icon name="cash-outline" color="danger"></ion-icon>
                            </ion-label>
                            <ion-label class="Label_title" color="tertiary">
                                <h2>
                                    ULTIMO <br> PAGO:
                                </h2>
                            </ion-label>
                            <ion-label class="Label_balance">
                                <h1>{{position.lastPay}}</h1>

                            </ion-label>
                        </ion-item>

                        <!-- <ion-card class="card" color="tertiary" no-border>
                            <ion-card-content class="card-content-3" color="tertiary" no-border>
                                <ion-list class="card-list-3" color="tertiary" no-border>
                                    <ion-item class="card-3" color="tertiary" no-border lines="none">
                                        <ion-label class="Label_icon" color="tertiary">
                                            <ion-icon name="cash-outline" color="danger"></ion-icon>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item class="card-3" color="tertiary" no-border lines="none">
                                        <ion-label class="Label_title" color="tertiary">
                                            <h2>
                                                ULTIMO<br> PAGO

                                            </h2>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item color="tertiary" no-border lines="none">
                                        <ion-label class="Label_balance">
                                            <h1>{{position.lastPay}}</h1>

                                        </ion-label>
                                    </ion-item>
                                    <ion-item color="tertiary" color="tertiary" no-border lines="none">
                                        <ion-label class="Label_detail" color="tertiary">
                                            <h1>
                                                <small>
                                                {{ position.lastPayDate | date : 'dd MM yyyy' }}
                                                </small>
                                            </h1>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>
                            </ion-card-content>
                        </ion-card> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
    </ion-row>
</div>