<div class="condominios" color="medium">
    <ion-row class="row_title" justify-content-center align-items-center style="height: 100%" color="medium">

        <ion-col>
            <ion-item color="primary" lines="none">
                <ion-avatar slot="start">
                    <img src="/assets/avatars/pedro.rafael.lopez.png" />
                </ion-avatar>
                <ion-label color="dark">
                    <h2>{{apartment.builder.name}} - Apto: {{apartment.number}}</h2>
                    <h3>{{apartment.user.name}}</h3>
                </ion-label>
            </ion-item>

        </ion-col>
    </ion-row>
</div>