<ion-header color="secondary">
    <ion-toolbar class="toolbar2" color="secondary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
            <ion-icon slot="start" name="business-outline"></ion-icon>
        </ion-buttons>
        <ion-title>
            Aviso de Cobro
        </ion-title>
    </ion-toolbar>
    <app-apartments [apartments]="apartments"></app-apartments>
</ion-header>

<ion-content class="background-image" no-scroll padding>

    <!-- billing -->
    <ion-grid fixed class="grid-main">

        <app-billing-notices [billingNotices]="billingNotices"></app-billing-notices>

        <!-- <app-billing-details [billingNoticeDetails]="billingNoticeDetail"></app-billing-details> -->
    </ion-grid>

</ion-content>