<ion-header no-border color="secondary">
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
            <ion-icon slot="start" name="business-outline"></ion-icon>
        </ion-buttons>
        <ion-title>
            Condominio - Situación Actual
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background-image" no-scroll padding>

    <app-apartments [apartments]="apartments"></app-apartments>
    <!-- Positions -->
    <app-positions [positions]=" positions "></app-positions>

</ion-content>