.Label_title {
    display: flex;
    justify-content: center;
    color: rgb(7, 41, 30);
    text-align: center;
    font-size: 2em !important;
    text-shadow: 1px 3px 4px rgb(197, 97, 102);
    font-family: "SegoeUI-BoldItalic";
    font-style: italic;
    font-weight: bold;
}